@model IEnumerable<MiniProject006.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Employees" asp-action="Index" asp-route-OrderBy="myName" asp-route-howToSort="@ViewBag.HowToSort">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-controller="Employees" asp-action="Index" asp-route-OrderBy="myDate" asp-route-howToSort="@ViewBag.HowToSort">@Html.DisplayNameFor(model => model.DateOfEmployment)</a>
            </th>
            <th>
                <a asp-controller="Employees" asp-action="Index" asp-route-OrderBy="myYear" asp-route-howToSort="@ViewBag.HowToSort">@Html.DisplayNameFor(model => model.YearOfBirth)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEmployment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
